html {
  --borderColor-default: #d0d7de;
  --borderColor-muted: #d0d7deb3;
  --bgColor-default: #ffffff;
  --bgColor-muted: #f6f8fa;
  --base-text-weight-light: 300;
  --base-text-weight-normal: 400;
  --base-text-weight-medium: 500;
  --base-text-weight-semibold: 600;
}

table {
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  box-sizing: border-box;
  border-spacing: 0;
  border-collapse: collapse;
  margin-top: 0;
  margin-bottom: 16px;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

tr {
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  border-spacing: 0;
  border-collapse: collapse;
  box-sizing: border-box;
  background-color: var(--bgColor-default);
}

table tr:nth-child(2n) {
  background-color: var(--bgColor-muted);
}

th {
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  border-spacing: 0;
  border-collapse: collapse;
  box-sizing: border-box;
  font-weight: var(--base-text-weight-semibold, 600);
  padding: 6px 13px;
  border: 1px solid var(--borderColor-default);
}

td {
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  border-spacing: 0;
  border-collapse: collapse;
  box-sizing: border-box;
  padding: 6px 13px;
  border: 1px solid var(--borderColor-default);
}

table {
  width: 800px;
  height: 400px;
  overflow-y: auto;
}
